{% extends 'layout.html' %}

{% block contenido %}
    <h2>Crear Cliente</h2>   
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nombres_cliente">Nombres</label>
            <input type="text" class="form-control" id="nombres_clientes" placeholder="Ingrese los nombres (dato único)">
          </div>
          <div class="form-group col-md-6">
            <label for="apellidos_cliente">Apellidos</label>
            <input type="text" class="form-control" id="apellidos_cliente" placeholder="Ingrese los apellidos (dato único)">
          </div>
          <div class="form-group col-md-6">
            <label for="numero_cliente">Numero del cliente</label>
            <input type="text" class="form-control" id="numero_cliente" placeholder="Ingrese el numero">
          </div>
          <div class="form-group col-md-6">
            <label for="numero_cliente">Correo electronico del cliente</label>
            <input type="text" class="form-control" id="correo_cliente" placeholder="Ingrese el correo">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="documento_cliente">Tipo de documento</label>
            <select id="documento_cliente" class="form-control">
              <option selected>Por favor seleccione...</option>
              <option value="CC">Cedula Ciudadania</option>
              <option value="CE">Cedula Extranjeria</option>
            </select>
          </div>
          <div class=class="form-group col-md-6">
            <label for="numero_documento">Numero de documento</label>
            <input type="numer" class="form-control" id="numero_documento" placeholder="Ingrese el numero de documento (dato único)">
          </div>
          <div class="form-group col-md-6">
            <label for="nacimiento_cliente">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="nacimiento_cliente">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>  
{% endblock contenido %}