{% extends 'layout.html' %}

{% block contenido %}
    <h2>{{ titulo }}</h2>   
    <form action="/formulario_factura" method="post">
      <table class="table">
        <tbody>
          <tr>
            <td>Fecha y hora</td>
            <td>Cliente</td>
          </tr>
          <tr>
            <td><input type="datetime-local" class="form-control" id="fecha_hora" name="fecha_hora"></td>
            <td>
              <select id="producto" class="form-control" name="cliente">
                <option selected>Seleccione el cliente</option>
                {% for cliente in clientes %}
                <option value="{{cliente.id}}">{{cliente.num_documento_cliente}}</option>
                {% endfor %}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr>
            <td><label for="producto">Producto</label></td>
            <td><label for="cantidad_producto">Cantidad</label></td>
            <td>Valor</td>
          </tr>
          <tr>
            <td>
              <select id="producto" class="form-control" name="producto">
                <option selected>Seleccione el producto</option>
                {% for producto in productos %}
                <option value="{{producto.id}}">{{producto.descripcion}}</option>
                {% endfor %}
            </td>
            <td><input type="float" class="form-control" id="cantidad" name="cantidad"></td>
            <td>   </td>
            <td><button type="submit" class="btn btn-primary">Eliminar</button></td>
          </tr> 
          <tr>
            <td>
              <button type="submit" class="btn btn-primary">Añadir producto</button>
            </td>
          </tr>
          <tr>
            <td>  </td>
            <td>Sub total</td>
            <td>  </td>
          </tr>
          <tr>
            <td>  </td>
            <td>Iva</td>
            <td>  </td>
          </tr>
          <tr>
            <td>  </td>
            <td>Total</td>
            <td>  </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>  
{% endblock contenido %}