{% extends 'layout.html' %}

{% block contenido %}
<h2>{{ titulo }}</h2>   
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha y hora</th>
        <th scope="col">Datos cliente</th>
        <th scope="col">Productos</th>
        <th scope="col">Total</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for factura in facturas %}
      <tr>
        <th scope="row">{{factura.id}}</th>
        <td>{{factura.fecha_hora}}</td>
        <td>{{factura.cliente}}</td>
        <td>{{factura.producto}}</td>
        <td></td>
        <td>
          <button type="button" class="btn btn-success">Editar</button>
          <button type="button" class="btn btn-danger">Borrar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock contenido %}